<%- include("header"); -%>
<div class="p-container-wrapper js-p-container-wrapper">
  <div class="product-container">
    <div class="product-image-box">
      <img
        class="product-image"
        src="<%= product.image %>"
        alt="Bu resim tarayıcınız tarafından görüntülenemiyor."
      />
    </div>
    <div class="product-info">
      <div class="product-name-sku">
        <div class="product-name"><%= product.name %></div>
        <div class="product-sku">Ürün Kodu: <%= product.sku %></div>
      </div>

      <div class="product-price-stock">
        <div class="product-price"><%= product.price%> TL</div>
        <div>Stokta Kalan Adet: <%= product.stock %></div>
      </div>
      <div class="product-detail">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Ürün Açıklaması
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong
                  >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Error, voluptas?</strong
                >
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
                voluptatum quidem laboriosam est optio. Doloremque, quam quasi
                at nemo ratione nobis fugiat consequuntur ipsam porro adipisci
                voluptate facere. Officia, ut! Quaerat cupiditate explicabo,
                dolor error corporis earum commodi nemo vitae eos, ipsum
                delectus odit nesciunt necessitatibus illo nihil nulla est a
                modi alias quisquam aut provident odio placeat expedita!
                Inventore, autem recusandae! Doloremque at enim rem veniam totam
                placeat perspiciatis, alias quia nemo illum eligendi magni
                aspernatur harum molestias voluptates molestiae minus vitae
                quas. Dicta fugiat quos recusandae aut quas omnis numquam itaque
                hic voluptatum, quia tempora. Accusamus, doloremque odio!
                <code>Lorem, ipsum.</code>, Lorem ipsum dolor sit amet.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Bakım
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong
                  >Lorem ipsum dolor sit amet consectetur adipisicing
                  elit.</strong
                >
                It is Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Cum recusandae dolorem aut similique sed facere, nulla porro
                aspernatur nisi impedit. Corrupti cupiditate debitis nam
                voluptatem doloremque praesentium exercitationem corporis
                accusamus adipisci odio, delectus molestias ipsum pariatur non
                voluptas facere a quam maxime ratione nesciunt. Praesentium
                mollitia corporis ea eos nihil deserunt eius iste, doloremque
                possimus fugit, tempora reprehenderit atque harum minus alias
                aperiam quisquam aliquid voluptate? Consequuntur deserunt esse
                explicabo quia, distinctio quisquam temporibus, error aperiam
                similique, aspernatur quo et aliquid nisi ea autem quae a
                voluptatibus delectus eum dignissimos earum porro praesentium
                qui ut! Vero voluptatibus inventore ipsum ea.
                <code>Lorem, ipsum.</code>, Lorem ipsum dolor sit, amet
                consectetur adipisicing elit. Laboriosam, nihil!
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                İade İşlemleri
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <strong
                  >Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit.</strong
                >
                It is Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eveniet in vitae amet dolorem accusantium. Officiis fugiat porro
                nam unde nostrum! Quam fuga harum suscipit nulla rerum
                repellendus nihil labore dolores iste recusandae ipsa asperiores
                provident, vero corrupti in odio, earum ab itaque! Nobis,
                similique non, dolorem at, impedit optio et officiis quia hic
                illo mollitia. Sit, magni temporibus odio asperiores minima
                nihil facere nemo debitis. Quo voluptas nisi quisquam vitae.
                <code>Lorem, ipsum.</code>, Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Doloribus, sit.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("footer"); -%>
